<div class="container">
    <div class="card list-recipe">
        <div class="d-flex justify-content-between card-header">
            <h5 class="">Receita de {{recipeData.data?.name}}</h5>
            <h5><a routerLink="/recipes">Back</a></h5>
        </div>
        <div class="card-body">
            Description: {{recipeData.data?.description}}
            <li>Duration: {{recipeData.data?.duration}}</li>
            <li>Ingredientes:</li>
            <ul *ngFor="let ingredient of recipeData.data?.ingredients">
                {{ingredient.name}}<br>
            </ul>
            <li>Passo a Passo:</li>
            <ul *ngFor="let step of recipeData.data?.steps">
                {{step.number}} : {{step.description}}<br>
            </ul>
        </div>
    </div>
</div>