<div class='row m-0 w-100 bg-login'>
    <div class='col-md-4 offset-4 mt-5'>
        <div class="d-flex justify-content-center">
            <img src="../../assets/logo-coco-bambu.png" alt="" class="logo">
        </div>
        <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
            <div class='form-group'>
                <input class='form-control input-user-placeholder' type="text" name="email" placeholder="Nome de usuario" ngModel>
                <span class="user-placeholder"><img src="../../assets/icon-login.png" alt=""></span>
            </div>
            <div class='form-group'>
                <input class='form-control input-key' type="password" name="password" placeholder="Senha" ngModel>
                <span class="key"><img src="../../assets/icon-key.png" alt=""></span>
            </div>
            <input class='btn button-access' type="submit" value="Acessar">
        </form>
    </div>
</div>