<nav class="navbar navbar-expand-lg bg-dark justify-content-between align-items-center coco-navbar pt-0 pb-0">
    <div class="container mt-0">
        <img src="../assets/logo-coco-bambu-mini.png" alt="" class="logo">
        <input ng-model="recipes" placeholder="Buscar receita" class="search-form">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" (click)='logout()' routerLinkActive="active">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img src="../assets/icon-login.png" alt="" class="logout-button">
                        <p class="">Sair</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="bg-grey">
    <div class="container pb-5">
        <h5 class="cards-header">Últimos pedidos</h5>
        <div class="cards" *ngFor="let recipe of Recipe.data">
            <div class="card bg-grey">
                <img class="card-img" src="../../../../assets/prato-{{recipe.name.split(' ')[0] | lowercase}}-peq.jpg" alt="">
                <div class="card-body">
                    <h5>{{recipe.name.split(' ')[0]}}</h5>
                    <p>{{recipe.description}}</p>
                </div>
                <div class="card-duration">
                    <p>{{recipe.duration.split(' ')[0]}}</p>
                    <p>{{recipe.duration.split(' ')[1]}}</p>
                </div>
                <a [routerLink]="['/recipes', recipe._id]" class="card-link">
                    <p>Ver</p>
                    <p>Receita</p>
                </a>
            </div>
        </div>
    </div>
</div>