<div class="bg-grey">
    <div class="container pb-5">
        <h5 class="cards-header">Últimos pedidos</h5>
        <div class="cards" *ngFor="let recipe of Recipe.data">
            <div class="card bg-grey">
                <img class="card-img" src="../../../../assets/prato-{{recipe.name.split(' ')[0] | lowercase}}-peq.jpg" alt="">
                <div class="card-body">
                    <h5>{{recipe.name.split(' ')[0]}}</h5>
                    <p>{{recipe.description}}</p>
                </div>
                <div class="card-duration">
                    <p>{{recipe.duration}}</p>
                </div>
                <a [routerLink]="['/recipes', recipe._id]" class="card-link">
                    <p>Ver</p>
                    <p>Receita</p>
                </a>
            </div>
        </div>
    </div>
</div>