<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Receitas</li>
  </ol>
</nav>
<div class="container">
  <div class="card list-recipe">
    <h5 class="card-header">Lista de Receitas</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recipe of Recipe.data">
            <td>{{recipe.id}}</td>
            <td>{{recipe.name}}</td>
            <td>{{recipe.description}}</td>
            <td>{{recipe.duration}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>